:root {
  --select-border: #393939;
  --select-focus: #101484;
  --select-arrow: var(--select-border);
}
.show-modal{
  color: #fff;
  background: linear-gradient(to right, #33a3ff, #0675cf, #49a6fd);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 15px;
  margin: 200px auto 0;
  border: none;
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: block;
  transition: all 0.3s ease 0s;
}
.show-modal:hover,
.show-modal:focus{
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  outline: none;
}
.modal-dialog{
  width: 400px;
}
.modal-dialog{ transform: scale(0.5); }
.modal-dialog{ transform: scale(1); }
.modal-dialog .modal-content{
  text-align: center;
  border: none;
}
.modal-content .close{
  margin: 0;
  border: 0;
  padding: 0;
  background: hsl(216, 100, 50);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
  margin-top: 5px;
}
.icon-cross {
  margin-top: -2px;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  display: flex;
  justify-content: center;
}
.modal {
  background: #b4bcc3;
  margin-top: 0;
  max-height: 690px;
  border-radius: 10px;
}
.modal-body{ padding: 40px 40px 40px !important; }
.modal-body .title{
  color: #026fd4;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 10px;
}
.modal-body .description{
  color: #9A9EA9;
  font-size: 16px;
  margin: 0 0 20px;
}
.modal-body .form-group{
  text-align: left;
  margin-bottom: 10px;
  position: relative;
}
.modal-body .input-icon{
  color: #777;
  font-size: 18px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 20px;
}
.modal-body .form-control{
  font-size: 17px;
  margin-top: 5px !important;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #eee;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
}
.form-control::placeholder{
  color: #AEAFB1;
}
.modal-content .modal-body .btn{
  color: #fff;
  background: linear-gradient(to right, #33a3ff, #0675cf, #4cd5ff);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 38px;
  width: 100%;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 5px;
  border: none;
  display: inline-block;
  transition: all 0.6s ease 0s;
}
.modal-content .modal-body .btn:hover{
  color: #fff;
  letter-spacing: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal-content .modal-body .btn:focus{ outline: none; }

label {
  align-items: center;
  color: #9A9EA9;
  font-size: 16px;
}

select {
  /* styles reset, including removing the default dropdown arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  /* Stack above custom arrow */
  z-index: 1;

  /* Remove focus outline */
  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}
select {
  grid-area: select;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
select::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

input::file-selector-button {
  background-image: linear-gradient(
    to right,
    #ff7a18,
    #af002d,
    #319197 100%,
    #319197 200%
  );
  background-position-x: 0%;
  background-size: 200%;
  border: 0;
  border-radius: 8px;
  color: #fff;
  padding: 0.5rem 0.75rem;
  text-shadow: 0 1px 1px #333;
  transition: all 0.25s;
}
input::file-selector-button:hover {
  background-position-x: 100%;
  transform: scale(1.1);
}

.image {
  object-fit: contain;
  width: 300px;
  margin-top: 10px;
  max-height: 100px;
}