*{
  margin:0;
  padding:0;
  text-decoration: none;
}
body {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  display:flex;
  background-color: #e9e5e5;
}
main{
  transition: all 0.35s ease-out;
  width: calc(100% - 280px);
  margin-left: 280px;
}
.sidebar{
  background: #000;
  color: #fff;
  width: 280px;
  transition: all 0.35s;
  height: 100vh;
  position: fixed;
}
.top_section{
  display: flex;
  align-items:center;
  padding: 20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}
.card {
  background-color: white;
  padding: 12px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #888888;
}
.card .content {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.card .content .service {
  height: 36px;
  color: #aba399;
  font-size: 16px;
  width: 150px;
}
.card .content .price {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.full-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 30px;
  padding: 30px;
  margin-left: 280px;
}
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;
}

.greeting {
  display: flex;
  flex-direction: column;
}

.normal-card {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}

/*Upcoming Appointments*/
.upcoming-appointment {
  width: calc(100% - 850px);
}
.calendar {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.calendar-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  outline: none;
}

.calendar-header button:hover {
  color: #666;
}

.calendar-header .prev-month {
  float: left;
}

.calendar-header .next-month {
  float: right;
}

.calendar-header {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-around;
}

.calendar-body {
  padding: 10px;
}

.calendar-row {
  display: flex;
  flex-direction: row;
}

.calendar-day-name {
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: #999;
}

.calendar-week {
  display: flex;
  flex-direction: row;
}

.calendar-day {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.calendar-day:hover {
  background-color: #f7f7f7;
}

.calendar-day.disabled {
  color: #ccc;
  cursor: default;
}

.calendar-day.today {
  background-color: #f7f7f7;
}

.calendar-day.selected {
  background-color: #007bff;
  color: #fff;
}

.row {
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.col-md-8 {
  flex: 2;
  padding: 0 10px;
}

.appointment-list {
  list-style: none;
  padding: 0;
}

.appointment {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.appointment-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.staff-photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-top: 8px;
}

.staff-name {
  font-weight: bold;
  font-size: 13px;
}

.appointment-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;     
  font-size: 12px;
}

.appointment-time {
  font-size: 12px;
  color: #777777;
}

.appointment-duration {                                                                   
  font-size: 12px;
  color: #777777;
  margin-top: 4px;
}

.appointment-user {
  font-weight: bold;
  margin-top: 8px;
}

/* Example status styles, you can modify or add more as needed */
.appointment-status {
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  background-color: #52b788;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 8px;
  width: 70px;
}

.pending {
  background-color: #9999d4;
}

.cancelled {
  background-color: rgb(225, 113, 113);
}

/* Stylist*/
.stylist-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  padding: 20px;
  justify-content: space-between;
}

.stylist-card .info-container {
  width: 60%;
}

.avatar-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.stylist-star {
  font-size: 20px;
  display: flex;
}

.stylist-card svg {
  color: brown;
}

.avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stylist-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.stylist-services {
  font-size: 14px;
  margin: 0;
}

main.leftbar-open {
  transition: all 0.35s ease-out;
  width: calc(100% - 280px);
  margin-left: 280px;
  height: 100%;
}

.open-chart{
  width: calc(100%);
}
.close-chart{
  width: 100%;
}
.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;                                            
  font-size: 10px;
  cursor: pointer;                  
  border-radius: 4px;
}

.edit-button:hover {
  background-color: #0056b3;
}
button.view-appointments {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 4px;
  cursor: pointer;
}
button.cancel-appointments {
  background-color: #da6837;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 45%;
}
button.success-appointments {
  background-color: #66cb2b;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 45%;
}
button.unverified {
  background-color: #da6837;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
button.verified {
  background-color: #66cb2b;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.image-modal {
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.8);
}

.image-modal__content {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 47%;
  max-width: 800px;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
}
.image-modal__content img {
  margin-top: 25px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 700px){
  .image-modal__content {
    width: 90%;
  }
}
